#clockContainer{
height: 50vw;
width: 50vw;
background: url(clock.png);
position: relative;
background-size: 100%;
margin: auto;
background-color: blue;
}

.primary{
position: absolute;
background-color: blue;
transform-origin: bottom;
border-radius: 10px;
}

#hour{

    height: 24%;
    width: 1.5%;
    top: 27%;
    left: 49.2%;
   
    
}

#minutes{

    height: 33%;
    width: 1.5%;
    top: 18%;
    left: 49%;
   
   
    
}


#second{

    height: 41%;
    width: 1.5%;
    top: 10%;
    left: 49%;    
   
}


